# Colecciones locales y utilidades (no versionar)
curls.ps1
postman_collection.json

# Artefactos comunes de Go/Windows
*.exe
*.exe~
*.out
*.log

# Cobertura y temporales
coverage*.html
coverage.out
coverage
coverage.filtered.out
coverage.html
logging_cov/
logging_cov.out
lastupdate.tmp
/tmp/
**/tmp/

# Binarios generados
restaurante-back.exe*
swagger.zip
swagger/**/*.json

# Entornos/IDE
.vscode/
.idea/
.DS_Store

# GitGuardian cache
.cache_ggshield

# Variables de entorno locales (no versionar)
.env
.env.local
